$grayscale: true;
$tile-width: 200px;
$tile-height: 150px;

.photo-grid {
	/* margin: 80px; */
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax($tile-width, 1fr));
	grid-auto-rows: $tile-height;

	.photo {
		position: relative;

		img {
			width: 100%;
			height: 100%;
		/* 	border-radius: 3px; */
			object-fit: cover;
			transition: 0.3s;
			&:hover {
				cursor: pointer;
				transform: scale(1.01);
				/* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03); */

				& + .duplicate {
					top: 20px;
					opacity: 0.65;
				}
			}

			&.duplicate {
				position: absolute;
				z-index: -1;
				top: 10px;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0.4;
			}
		}
	}

	.photo:nth-child(even) {
		grid-row: span 2;
	}
}
