
$imageIds: '1517021897933-0e0319cfbc28', '1533903345306-15d1c30952de', '1545243424-0ce743321e11', '1531306728370-e2ebd9d7bb99';

$bp-md: 400px;
$bp-lg: 600px;

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

.page-card-content {
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
  
  @media (max-width: $bp-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: $bp-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
  
  @media (min-width: $bp-md) {
    height: 350px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
  
  
}

.card_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
  
  > * + * {
    margin-top: 1rem;
  }
}

.card_title {
  font-size: 1.3rem;
  font-weight: bold;
  /* line-height: 1.2; */
}

.card_copy {
  /* font-family: var(--font-serif); */
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  /* background-image: linear-gradient(
    to top,
    transparentize(_palette(bg), 0.8),
    transparentize(_palette(bg), 0.8)
  ); */
}

.card_btn {
  cursor: pointer;
  margin-top: 1.5rem;
  /* padding: 0.75rem 1.5rem; */
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: _palatte(fg);
  background-color: _palatte(bg);
  border: none;
  
  &:hover {
    background-color: lighten(black, 5%);
  }
  
  &:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }
}

@media (hover: hover) and (min-width: $bp-md) {
    .card:after {
      transform: translateY(0);
    }
    
    .card_content {
      transform: translateY(calc(100% - 4.5rem));
      
      > *:not(.card_title) {
        opacity: 0;
        transform: translateY(1rem);
        transition:
          transform var(--d) var(--e),
          opacity var(--d) var(--e);
      }
    }
    
    .card:hover,
    .card:focus-within {
      align-items: center;
  
      &:before { transform: translateY(-4%); }
      &:after { transform: translateY(-50%); }
  
      .card_content {
        transform: translateY(0);
  
        > *:not(.card_title) {
          opacity: 1;
          transform: translateY(0);
          transition-delay: calc(var(--d) / 8);
        }
      }
    }
    
    .card:focus-within {
      &:before,
      &:after,
      .card_content,
      .card_content > *:not(.title) {
        transition-duration: 0s;
      }
    }
  }


/// Social cards
.social-card{
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: none;
    .icon{
        font-size: xx-large;
    }
    h3{
      padding: 15px;
    }
}
.social_article {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #333; */
    /* box-shadow: 0 0 6px -2px #000, 0 0 45px -20px #000; */
    /* line-height: 90px; */
    transform: perspective(300px) rotateY(0deg);
    transition: transform 0.4s linear, background-color 0s linear 0.2s, color 0s linear 0.2s;
    a:hover & {
      /* transform: perspective(300px) rotateY(180deg); */
      color: #eee;
        transition: transform 0.2s linear, background-color 0s linear 0.1s, color 0s linear 0.1s;
    }
    a:hover & {
        .icon{
            color: #eee;
        }
    }
  }
.social_span {
    transition: transform 0s linear 0.2s, text-shadow 0s linear 0.2s;
    display: block;
    -webkit-font-smoothing: subpixel-antialiased;
    a:hover & {
        transition: transform 0s linear 0.1s, text-shadow 0s linear 0.1s;
        transform: scale(-1, 1);
        text-shadow: 0 0 50px rgba(255,255,255,0.5);
    }
   
}