///
/// Solid State by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Image */

	.image {
		border-radius: _size(border-radius);
		border: 0;
		display: inline-block;
		position: relative;
		&.zoom:hover {
			transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
			transition: transform 1.3s;
		}
		img {
			border-radius: _size(border-radius);
			display: block;
		}
		&.center{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		&.big{
			width: 60%;
			height: auto;
		}
		&.med{
			width: 50%;
			height: auto;
		}
		&.small{
			width: 25%;
			height: auto;
		}
		&.xsmall{
			size: 10%;
		}
		&.left,
		&.right {
			max-width: 40%;

			img {
				width: 100%;
			}
		}

		&.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		&.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		&.fit {
			display: block;
			margin: 0 0 _size(element-margin) 0;
			width: 100%;

			img {
				width: 100%;
			}
		}

		&.main {
			display: block;
			margin: 0 0 (_size(element-margin) * 1.5) 0;
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

/* Modal */

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 5%;
	@media (max-width:1000px){
		margin-top: 10%;
	}
	@media (max-width:700px){
		margin-top: 20%;
	}
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}