
////Linear Progress Bar

.progress-bar {
    margin: none;
    width: 100%;
    height: 10px;
    background-color: #4a4e59;
   
  }
.progress_container {
  text-align: start;
  h3{
    margin-top: 15px;
    margin-bottom: auto;
  }
}
.inverted {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.progress-bar .progress {
    position: relative;
    height: 10px;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: width;
}

@-webkit-keyframes width {
    0%, 100% {
      -webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
              transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
      width: 0;
    }
    100% {
      @extend .progress
    }
}
@keyframes width {
    0%, 100% {
      -webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
              transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
      width: 0;
    }
    100% {
        @extend .progress
    }
}

/* Circular bar */
.skills-container {
  margin-top: 2em;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}

.circular-progress {
  &,
  &:before,
  &:after{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  margin: auto;

  position: relative;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
  }
  &:before {
    padding: .5em;
    line-height: 140px;
    font-size: 2rem;
    font-weight: bold;
  }
  &:after {
    font-size: .8rem;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 230px;
  }
}

@function progress($percent){
  $deg: $percent/100 * 180;
  @return #{$deg}deg;
}

@mixin circular-progress($percent,$skill,$color,$bgcolor){

  $progress: progress($percent);
  background: linear-gradient(0deg, $color 50%, rgba($color,.3) 50%);
  transform: rotate($progress);
  &:before,
  &:after {
    color: $color;
  }
  &:before {
    background: $bgcolor content-box;
    transform: rotate(-#{$progress});
    content: "#{$percent}%";
  }
  &:after {
    background: linear-gradient(transparent 50%, $bgcolor 50%);
    content: "#{$skill}";
    transform: rotate(-#{$progress}) scale(1.1);
  }
}

.html{
  @include circular-progress(60,Inglés B2,#777a83,#2f313a);
}
.css{
  @include circular-progress(100,Castellano Nativo,#777a83,#2f313a);
}
.javascript{
  @include circular-progress(100,Valenciano Nativo C1,#777a83,#2f313a);
}
.php{
  @include circular-progress(84,php,#8e9097,#2f313a);
}
  